---
import { SITE_TITLE_BLOG, SITE_DESCRIPTION_BLOG } from '../../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';
import SiteLayouts from "../../layouts/SiteLayouts.astro";
const posts = (await getCollection('blog')).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<SiteLayouts title={SITE_TITLE_BLOG} description={SITE_DESCRIPTION_BLOG}>
	<main class="md:w-[760px] lg:w-[860px] xl:w-[960px] m-auto px-4 py-12">
		<section>
			<ul class="flex flex-wrap gap-8 list-none m-0 p-0 md:gap-2 justify-center">
				{   
					posts.map((post) => (
						<li class="text-center sm:w-full md:w-[calc(50%-16px)] md:first:w-full md:first:text-center md:first:mb-4">
							<a class="block " rel="prefetch" href={`/blog/${post.slug}/`}>
								<img class="hover:shadow-gray-300 hover:shadow-xl mb-2 rounded-xl md:first:w-full" width={720} height={360} src={post.data.heroImage} alt="" />
								<h4 class="m-0 leading-none text-black hover:text-blue-500">{post.data.title}</h4>
								<p class="m-0 text-gray-500 hover:text-blue-500">
									<FormattedDate date={post.data.pubDate} />
								</p>
							</a>
						</li>
					))
				}
			</ul>
		</section>
	</main>
</SiteLayou